{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sorti{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class"title"></div>
    {# LE HEADER — affiché sur toutes les pages #}
    <nav>
        <a href=>Villes</a>
        <a href=>Sites</a>
        <a href=>Accueil</a>
        <a href="{{ path('app_profil') }}">Mon profil</a>
        <a href=>Déconnexion</a>
    </nav>

    {# LE CONTENU — chaque page met ce qu'elle veut ici #}
    {% block body %}{% endblock %}

    {# LE FOOTER — affiché sur toutes les pages #}
    <footer>
        <p>© 2025 Sortie</p>
    </footer>

</body>
</html>